@model Power.Models.Tags
@{
    ViewBag.Title = "编辑标签";
    Layout = "~/Pages/_Layout.cshtml";
}

<script src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>


<h4>Tags</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label asp-for="Name" class="control-label">标签名称</label>
                <input asp-for="Name" name="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label">备注</label>
                <input asp-for="Remark" name="Remark" class="form-control" value="@Model.Remark" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

