@model Power.Models.PowerUser
@{
    Layout = "~/Pages/_Layout.cshtml";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    $(function () {

        $("#regForm").validate();

        // 在键盘按下并释放及提交后验证提交表单
        //$("#regForm").validate({
        //    rules: {
        //        UID: {
        //            required: true,
        //            rangelength:[6,16]
        //            //checkUid: true
        //        },
        //        Cn: "required",
        //        PassWord: {
        //            required: true,
        //            //checkpwd: true
        //        }
        //    },
        //    messages: {
        //        UID: {
        //            required: "请输入账号",
        //            rangelength: "*长度为6到16位！"
        //        },
        //        Cn: "请输入名称",
        //        PassWord: "请输入密码"
        //    }
        //});
    });


    //$.validator.addMethod("checkUid", function (value, element, params) {
    //    var checkPwd = /^\w{6,16}$/g;
    //    return this.optional(element) || (checkPwd.test(value));
    //}, "*只允许6-16位英文字母、数字或者下画线！");

    //$.validator.addMethod("checkpwd", function (value, element, params) {
    //    var checkPwd = /^\w{6,16}$/g;
    //    return this.optional(element) || (checkPwd.test(value));
    //}, "*只允许6-16位英文字母、数字或者下画线！"); data-val-length-max="16" data-val-length-min="2" data-val-length="密码长度为6-16"*
</script>
<br />

<div class="row">
    <div class="col-md-4">
        <form id="regForm" name="regForm" action="Create" method="post">
            <div class="form-group">
                <label asp-for="UID" class="control-label">账号</label>
                <input asp-for="UID" class="form-control" name="UID" id="UID" value="@Model.UID" data-val="true" 
                       data-val-required="账号不能为空！" 
                       data-val-regex="只允许6-16位英文字母、数字或者下画线！" data-val-regex-pattern="^\w{6,16}$"
                       data-val-remote="已经被注册，请选择其他登录名称！" data-val-remote-url="/PowerUser/ValidateIsOnly"
                       />
                <span data-valmsg-for="UID" data-valmsg-replace="true" class="text-danger "></span>
            </div>
            <div class="form-group">
                <label asp-for="Cn" class="control-label">姓名</label>
                <input asp-for="Cn" class="form-control" name="Cn" value="@Model.Cn" data-val="true" 
                       data-val-required="用户名不能为空！"  
                       data-val-length-max="12" data-val-length-min="2" data-val-length="密码长度为2-12"/>
                <span  data-valmsg-for="Cn" data-valmsg-replace="true" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label">密码</label>
                <input asp-for="PassWord" class="form-control" type="password" id="pw1" name="PassWord" value="@Model.PassWord" 
                       data-val="true" 
                       data-val-required="密码不能为空！" 
                       data-val-regex="只允许6-10位字母、数字、或者组合" data-val-regex-pattern="^[a-zA-Z0-9]{6,10}$"
                       />
                <span data-valmsg-for="PassWord" data-valmsg-replace="true" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="注册" class="btn btn-default" />
                <span>@ViewData["message"]</span>
            </div>
        </form>
    </div>
</div>
